[Unit]
Description=Application Component 1  
# When systemd stops or restarts the app.service, the action is propagated to this unit
PartOf=app.service
# Start this unit after the app.service start
After=app.service

[Service]
EnvironmentFile=""
WorkingDirectory=/tmp
ExecStart=python -m SimpleHTTPServer 8000


# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure

[Install]
# This unit should start when app.service is starting
WantedBy=app.service
